{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    <!-- Message -->
    <!-- <section class="page-section cta"> style="background-image: url('{% static "ProyectoWebApp/img/perro-gato-en-casa-2.jpg" %}')";> -->
      <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Quienes Somos</span>
              </h2>
              <p class="mb-0">La Clínica Veterinaria AQUAVET es una empresa dedicada al cuidado de las mascotas, que lleva en el mercado desde el año 2006, trabajando en pro del bienestar de cada mascota. Desde entonces, sus primordiales objetivos estuvieron encaminados a mejorar en todos sus servicios, y muchos de estos objetivos se han logrado, como la innovación de los equipos de diagnóstico, cirugía, y la adecuación de la infraestructura, dando como resultado el poder ofrecer a todos nuestros clientes un servicio integral atendidos por profesionales de altísima calidad, todo ésto con el fin de tratar nuestros pacientes como seres que merecen la mejor atención y especial cuidado.</p>
              <p class="mb-0">Los servicios que ofrecemos incluyen, consulta general y especializada en ortopedia y neurología, hospitalización diurna, cirugía de tejidos blandos, cirugía neurológica y ortopédica, ecografía, radiografía, endoscopia, broncoscopia, laboratorio clínico veterinario, peluquería canina y felina, petshop.</p>
              <p class="mb-0">Nuestro quirófano cuenta con equipos como anestesia inhalada, monitores, accesorios y equipo médico que representan vital importancia para la mascota ya que disminuye el riesgo que corre todo paciente durante un procedimiento quirúrgico.</p>

            </div>
          </div>
        </div>
      </div>
    </section>

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/perro-gato-en-casa-2.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Misión * Visión * Valores</span>
            <span class="section-heading-lower">Misión</span>
          </h2>
          <p class="mb-3">Crear conciencia social para el bienestar animal, fortaleciendo el vínculo emocional que existe entre las personas y sus animales de compañía, mediante la prestación de nuestros servicios médicos veterinarios y complementarios a la comunidad Antioqueña.</p>

          <p class="mb-3"> Nuestro equipo de trabajo comparte valores y principios éticos, que brindan el amor, el respeto, la responsabilidad y el compromiso para con nosotros mismos, con nuestros usuarios y pacientes.
          </p>
         
        </div>
      </div>
    </div>
  </section>

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/perritos.jpeg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Misión * Visión * Valores</span>
            <span class="section-heading-lower">Visión</span>
          </h2>
          <p class="mb-3">En 2018, seremos la institución veterinaria líder en la promoción de la salud animal, educando a la comunidad y trasmitiendo los valores humanos necesarios para transformar nuestra sociedad, participando  en su transformación hacia el Departamento con la mejor sanidad, vigilancia y trato humanitario para con los animales en Colombia.</p>

          <!--<p class="mb-3">Nuestras instalaciones, dotadas con tecnología de vanguardia y nuestro equipo médico veterinario y técnico, calificado y comprometido con el bienestar animal.</p>-->
          
         
        </div>
      </div>
    </div>
  </section>
  
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/ai.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Misión * Visión * Valores</span>
            <span class="section-heading-lower">Valoresn</span>
          </h2>
          <p class="mb-3">AMOR. Es nuestro valor fundamental y el principio de todo cambio social. Los animales de compañía traen amor y felicidad a los hogares y nosotros ayudamos para fortalecerlo.</p>

          <p class="mb-3">RESPONSABILIDAD. Usando la medicina preventiva como herramienta para promover la salud, es nuestra responsabilidad mantener sano al animal de compañía y a toda su familia.</p>

          <!--<p class="mb-3">CLARIDAD: Desarrollamos un lenguaje simple y claro. Nos tomamos el tiempo de explicarle cada proceso, para garantizar su comprensión y mantener su confianza.</p>-->
          
          
         
        </div>
      </div>
    </div>
  </section>

{% endblock %}
